apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ app_name }}
  namespace: {{ gitops_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    app: {{ app_name }}
spec:
  project: default
  source:
    path: 'broker_template/amq-broker-rhel8'
    repoURL: {{ gitops_repo_url }}
    targetRevision: {{ git_branch }}
    helm:
      valueFiles:
        - values.yaml
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
      - RespectIgnoreDifferences=true
      - CreateNamespace=false
  destination:
    server: {{ gitops_server }}
    namespace: {{ gitops_namespace }}