apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ appset_name }}
  namespace: '{{ gitops_namespace }}'
  labels:
    velero.io/exclude-from-backup: "false"
spec:
  generators:
  - git:
      repoURL: '{{ gitops_repo_url }}'
      revision: '{{ git_branch }}'
      directories:
{% if app_list is defined %}
{% for broker in broker_list %}
      - path: "{{ app_path }}/{{ app }}"
{% endfor %}
{% endif %}
  syncPolicy:
    preserveResourcesOnDeletion: true
  template:
    metadata:
      name: '{{ metadata_name }}-{{ cluster_env }}'
      labels:
        app: argo-apps
        velero.io/exclude-from-backup: "false"
    spec:
      project: default
      source:
        path: '{{ source_path }}'
        repoURL: '{{ gitops_repo_url }}'
        targetRevision: '{{ git_branch }}'
        plugin:
          env:
            - name: HELM_VALUES
              value: |
                gitops_repo_url: '{{ gitops_repo_url }}'
                gitops_namespace: '{{ gitops_namespace }}'
                cluster_name: '{{ cluster_env }}'
                targetrevision: '{{ git_branch }}'
{% if override_values is defined %}
{% for override_value in override_values %}
                {{ override_value.name }}: '{{ override_value.value }}'
{% endfor %}
{% endif %}
      ignoreDifferences:
      - group: '*'
        kind: "Project"
        jsonPointers:
        - /metadata/annotations
        - /metadata/labels
      - group: '*'
        kind: '*'
        jqPathExpressions:
        - .metadata | select(.name == "etcd")
      syncPolicy:
        preserveResourcesOnDeletion: true
        automated:
          selfHeal: true
        syncOptions:
        - RespectIgnoreDifferences=true
        - CreateNamespace=true
      destination:
        server: {{ target_server }}
        namespace: {{ gitops_namespace }}